<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/favicon.ico" />

    <title>@ViewBag.Title</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700italic,700,900,900italic" rel="stylesheet">

    <!-- STYLESHEETS -->
    <style type="text/css">
        [fuse-cloak],
        .fuse-cloak {
            display: none !important;
        }
    </style>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/js")

    @RenderSection("scripts", required: false)

    @Scripts.Render("~/bundles/angular")

    @RenderSection("apps", required: false)
</head>
<body class="layout layout-vertical layout-left-navigation layout-below-toolbar">
    @RenderBody()
</body>
</html>
